@media (max-width: 1199.98px) {
    .main {
        padding: 30px;
    }
    .main__title {
        margin-bottom: 30px;
    }
}

@media (max-width: 991.98px) {
    body.sidebar-opened {
        overflow: hidden;
    }
    .sidebar {
        left: -400px;
    }
    .sidebar-opened .sidebar {
        left: 0;
    }
    .wrapper {
        padding-left: 0;
    }
    .card {
        padding: 20px;
    }
    .header {
        display: flex;
    }
    .main__title {
        margin-bottom: 20px;
    }
    .card__table-wrap::before,
    .card__table-wrap::after {
        width: 20px;
    }
    .card__table-wrap::before {
        left: -20px;
    }
    .card__table-wrap::after {
        right: -20px;
    }
    .pagination__title {
        display: none;
    }
    .pagination {
        justify-content: center;
    }
}
